<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>Welcome</title>
    <meta name="description" content="Welcome to Appland">
    <meta name="author" content="Craft Turf Ltd">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <script data-main="../common" src="../../lib/requirejs/require.js"></script>
    <link rel="stylesheet" href="/assets/css/module-{MODULE-NAME}.css">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
  </head>
  <body>
    <div id="{MODULE-NAMESPACE-PREFIX}-content">&nbsp;</div> 
  </body>
</html>