/**
 * Less than 768px
 * 
 * No media query needed. This is the default
 * starting point for mobile-first development.
 */
body {
  @include apl-brand-bg('gray-light', 0.3);
}

#demo-bb-content {
  /**
   * Branding
   */
  h4 {
    font-family:Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: apl-flex-target(16, 12);
    line-height: apl-flex-target(20, 12);
    @include apl-brand-color('navy');
    margin-bottom: 10px;
    margin-top: 30px;
  }
  a {
    @include apl-brand-color('navy');
  }
  .nav-pills > li > a {
    @include apl-brand-color('gray-dark');
    &:hover, &:focus {
      @include apl-brand-color('red-dark');
      background-color: transparent;
      border: 0;
    }
  }
  .nav-pills > li.active > a {
    @include apl-brand-bg('turquoise-dark');
    color: white;
  }
  .nav .caret {
    @include apl-brand-border-top('gray-dark');
    @include apl-brand-border-bottom('gray-dark');
    &:hover, &:focus {
      @include apl-brand-border-top('red-dark');
      @include apl-brand-border-bottom('red-dark');
    }
  }
  .apl-dropdown-menu {
    @include apl-brand-border('turquoise-dark', 1);
    @include apl-brand-bg('turquoise-dark', .9);
    @include border-radius(5px, 5px);
    left: -50px;
    a {
      color: white;
      &:hover, &:focus {
        @include apl-brand-bg('turquoise-dark', 1);
      }
    }
  }
  .header {
    @include apl-brand-border-bottom('turquoise-dark');
    margin-bottom: apl-px-to-em(30);
  }
  .apl-header-1 {
    margin-bottom: 0;
    @include apl-brand-color('navy');
  }
  .breadcrumb {
    background-color: transparent;
    padding-left: 0;
  }
  .jumbotron {
    background-color: transparent;
    border: 0;
    margin-bottom: 0;
    .btn-success {
      @include apl-brand-bg('red-dark', 0.8);
      @include apl-brand-border('red-dark', 0.5);
      &:hover, &:focus {
        @include apl-brand-bg('red-dark');
        @include apl-brand-border('red-dark', 0.8);
      }
    }
    a {
      color: white;
    }
  }
  .teaser, .summary {
    font: normal 12px/18px Arial,Helvetica,sans-serif;
    @include apl-brand-color('gray-dark');
    a {
      text-decoration: underline;
      text-transform:capitalize;
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
  .summaries {
    margin-top: 10px;
  }
  .article {
    font-family: Helvetica,Arial,sans-serif;
    h1 {
      font-size: apl-flex-target(24, 14);
      @include apl-brand-color('navy');
      margin-bottom: 20px;
    }
    h2, h3 {
      font-size: apl-flex-target(16, 14);
      @include apl-brand-color('navy');
      margin-bottom: 12px;
    }
    h3 {
      font-size: apl-flex-target(14, 14);
    }
    img {
      max-width: 100%;
    }
    .lead {
      font-size: apl-flex-target(16, 14);
      line-height: apl-flex-target(20, 14);
      @include apl-brand-color('gray-dark');
      margin-bottom: 30px;
    }
    p, li {
      font-size: apl-flex-target(12, 14);
      @include apl-brand-color('gray-dark');
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 5px;
    }
    blockquote {
      @include apl-brand-border-left('red-dark');
      width: 90%;
      position: relative;
      left: 5%;
      margin-top: 20px;
      display: inline-block;
      p {
        @include apl-brand-color('red-dark');
        font-style: italic;
        font-size: 30px;
        line-height: 32px;
      }
    }
    .content {
      margin-bottom: 20px;
      a {
        text-decoration: underline;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .preloader {
    height: 500px;
    img {
      position: relative;
      left: 50%;
      top: 50%;
    }
  }
  .apl-pager {
     margin-bottom: apl-px-to-em(40);
     li {
       a {
         @include apl-brand-bg('gray-light', 0.3);
         &:hover {
           @include apl-brand-bg('gray-light', 0.1);
         }
       }
     }
  }
  .footer {
    font-family:Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: apl-flex-target(12, 12);
    line-height: apl-flex-target(18, 12);
    @include apl-brand-border-top('turquoise-dark');
    @include apl-brand-color('gray-dark');
  }
}


.no-horiz-margin {
  margin-left: 0;
  margin-right: 0;
}
.no-horiz-padding {
  padding-left: 0;
  padding-right: 0;
}
