/**
 * Standard include WGSN files.
 */
@import "base/core/core";
@import "base/palette/apl";
@import "base/util";
/**
 * Third-party libraries shared across WGSN.
 */
//@import "lib/jqueryui/themes/smoothness/jquery.ui.core"; 
//@import "lib/bootstrap/bootstrap";
/**
 * Module specific style.
 */
@import "module-{MODULE-NAME}/{MODULE-NAME}";