/* line 1, ../sass/print.scss */
html {
  overflow: -moz-scrollbars-vertical;
}

/*

html, body {
    height:100%; overflow-y:scroll !important;
}
*/
/* line 1, ../sass/print.scss */
/* line 13, ../sass/print.scss */
div {
  text-align: center;
}

/* line 2, ../sass/print.scss */
/* line 18, ../sass/print.scss */
.pageBreak {
  page-break-after: always;
}

/* line 3, ../sass/print.scss */
/* line 23, ../sass/print.scss */
.printHeader {
  height: 18pt;
  border-bottom: 1pt solid #CCC;
  text-align: right;
  margin-bottom: 5pt;
}

/* line 9, ../sass/print.scss */
/* line 31, ../sass/print.scss */
.printFooter {
  text-align: right;
  font-size: 8pt;
  border-top: 1pt solid #CCC;
}

/* line 37, ../sass/print.scss */
.imageArea {
  padding-top: 10pt;
  display: inline-block;
}

/* line 46, ../sass/print.scss */
.imgAreaAlignment, .perPage4 .imageArea, .perPage9 .imageArea, .perPage16 .imageArea {
  margin-top: 0pt;
  vertical-align: top;
}

/* line 53, ../sass/print.scss */
.imageContextTag,
.imageCreditInfo {
  color: #888888;
  font-style: italic;
}

/* line 14, ../sass/print.scss */
/* line 59, ../sass/print.scss */
.perPage1 {
  /* line 19, ../sass/print.scss */
}
/* line 62, ../sass/print.scss */
.perPage1 .imageTitle,
.perPage1 .imageContextTag,
.perPage1 .imageCreditInfo {
  font-size: 8pt;
  line-height: 8pt;
}
/* line 67, ../sass/print.scss */
.perPage1 .imageArea {
  height: 650pt;
  width: 550pt;
}
/* line 73, ../sass/print.scss */
.perPage1 .imageArea img {
  max-height: 650pt;
  max-width: 545pt;
}
/* line 78, ../sass/print.scss */
.perPage1 .printRow {
  height: 700pt;
  width: 500pt;
}

/* line 85, ../sass/print.scss */
.perPage4 .imageTitle {
  font-size: 8pt;
  line-height: 8pt;
}
/* line 91, ../sass/print.scss */
.perPage4 .imageTitle,
.perPage4 .imageContextTag,
.perPage4 .imageCreditInfo {
  font-size: 6pt;
  line-height: 6pt;
}
/* line 96, ../sass/print.scss */
.perPage4 .imageArea {
  height: 325pt;
  width: 240pt;
}
/* line 100, ../sass/print.scss */
.perPage4 .imageArea img {
  max-height: 290pt;
  max-width: 235pt;
}
/* line 106, ../sass/print.scss */
.perPage4 .printRow {
  height: 325pt;
  width: 500pt;
}

/* line 115, ../sass/print.scss */
.perPage9 .imageTitle {
  font-size: 6pt;
  line-height: 6pt;
}
/* line 120, ../sass/print.scss */
.perPage9 .imageContextTag,
.perPage9 .imageCreditInfo {
  font-size: 5pt;
  line-height: 5pt;
}
/* line 125, ../sass/print.scss */
.perPage9 .imageArea {
  height: 215pt;
  width: 160pt;
}
/* line 129, ../sass/print.scss */
.perPage9 .imageArea img {
  max-height: 181pt;
  max-width: 155pt;
}
/* line 135, ../sass/print.scss */
.perPage9 .printRow {
  height: 215pt;
  width: 500pt;
}

/* line 143, ../sass/print.scss */
.perPage16 .imageTitle {
  font-size: 6pt;
  line-height: 6pt;
}
/* line 148, ../sass/print.scss */
.perPage16 .imageContextTag,
.perPage16 .imageCreditInfo {
  font-size: 4pt;
  line-height: 4pt;
}
/* line 153, ../sass/print.scss */
.perPage16 .imageInfo p {
  margin: 5px 0px;
  padding: 0px 20px;
}
/* line 157, ../sass/print.scss */
.perPage16 .imageArea {
  height: 160pt;
  width: 99pt;
}
/* line 161, ../sass/print.scss */
.perPage16 .imageArea img {
  max-height: 140pt;
  max-width: 94pt;
}
/* line 167, ../sass/print.scss */
.perPage16 .printRow {
  height: 160pt;
  width: 500pt;
}

/* line 23, ../sass/print.scss */
/* line 175, ../sass/print.scss */
.imageInfo p {
  margin: 5px 0px;
  padding: 0px 20px;
}

/* line 27, ../sass/print.scss */
/* line 181, ../sass/print.scss */
.imageTitle {
  font-size: 12pt;
  line-height: 12pt;
}

/* line 32, ../sass/print.scss */
/* line 38, ../sass/print.scss */
/* line 44, ../sass/print.scss */
/* line 190, ../sass/print.scss */
.pageOverlay {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: block;
}

/* line 56, ../sass/print.scss */
/* line 201, ../sass/print.scss */
#loadingOverlay {
  /*  background:  white url("http://ajax.googleapis.com/ajax/libs/dojo/1.9.1/dijit/themes/claro/images/loadingAnimation.gif") no-repeat 49% 70px;*/
  background-color: #fff;
}

/* line 61, ../sass/print.scss */
/* line 207, ../sass/print.scss */
.loadingMessage {
  padding: 25px 40px;
  color: #999;
}

/* line 66, ../sass/print.scss */
/* line 213, ../sass/print.scss */
#loadingLegend {
  position: fixed;
  z-index: 9999;
  left: 46%;
  top: 140px;
}

/* line 73, ../sass/print.scss */
/* line 221, ../sass/print.scss */
#progressbar {
  width: 300px;
  margin: 20px auto;
}

/* line 77, ../sass/print.scss */
/* line 227, ../sass/print.scss */
.ui-progressbar-value {
  background-image: url(../img/72/gif/pbar-ani.gif) !important;
  display: block !important;
}

/* line 83, ../sass/print.scss */
/* line 233, ../sass/print.scss */
#progresbar {
  position: fixed;
  left: 38%;
  top: 100px;
  z-index: 99999;
  width: 300px;
  height: 21px;
}

/* Component containers
----------------------------------*/
/* line 94, ../sass/print.scss */
/* line 245, ../sass/print.scss */
.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1.1em;
}

/* line 95, ../sass/print.scss */
/* line 251, ../sass/print.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 96, ../sass/print.scss */
/* line 256, ../sass/print.scss */
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 1em;
}

/* line 97, ../sass/print.scss */
/* line 262, ../sass/print.scss */
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee;
  color: #333333;
}

/* line 98, ../sass/print.scss */
/* line 269, ../sass/print.scss */
.ui-widget-content a {
  color: #333333;
}

/* line 99, ../sass/print.scss */
/* line 274, ../sass/print.scss */
.ui-widget-header {
  border: 1px solid #e78f08;
  background: #f6a828;
  color: #ffffff;
  font-weight: bold;
}

/* line 100, ../sass/print.scss */
/* line 282, ../sass/print.scss */
.ui-widget-header a {
  color: #ffffff;
}

/* line 102, ../sass/print.scss */
/* line 287, ../sass/print.scss */
.ui-progressbar {
  height: 2em;
  text-align: left;
}

/* line 103, ../sass/print.scss */
/* line 293, ../sass/print.scss */
.ui-progressbar .ui-progressbar-value {
  margin: -1px;
  height: 100%;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
/* line 110, ../sass/print.scss */
/* line 302, ../sass/print.scss */
.ui-corner-tl {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
}

/* line 111, ../sass/print.scss */
/* line 309, ../sass/print.scss */
.ui-corner-tr {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 112, ../sass/print.scss */
/* line 316, ../sass/print.scss */
.ui-corner-bl {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 113, ../sass/print.scss */
/* line 323, ../sass/print.scss */
.ui-corner-br {
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 114, ../sass/print.scss */
/* line 330, ../sass/print.scss */
.ui-corner-top {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}

/* line 115, ../sass/print.scss */
/* line 340, ../sass/print.scss */
.ui-corner-bottom {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 116, ../sass/print.scss */
/* line 350, ../sass/print.scss */
.ui-corner-right {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 117, ../sass/print.scss */
/* line 360, ../sass/print.scss */
.ui-corner-left {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 118, ../sass/print.scss */
/* line 370, ../sass/print.scss */
.ui-corner-all {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
