<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>{{LABELS.LABEL_19}}</strong> {{LABELS.LABEL_20}}
</div>