<div class="jumbotron">
  <h1>{{LABEL_1}}</h1>
  <p class="lead">{{{LABEL_10}}}</p>
  <p>{{{LABEL_11}}}</p>
  <p>
    <a id="js-cta" class="btn btn-lg btn-success" href="{{LABEL_13}}" role="button">
      {{LABEL_12}}
    </a>
  </p>
</div>