<div id="wgsn-promo-overlay">
    <div class="ui-widget-overlay ui-front"></div>
    <div id="wgsn-promo-intro">
        <header>
            <h1>{{LABEL_0}}</h1>
            <a href="#" id="wgsn-promo-intro-close">{{LABEL_1}} <span>x</span></a>
        </header>
        <section>
            <ul>
                <li>
                    <h2>{{LABEL_2}}</h2>
                    <p>{{LABEL_3}}</p>
                    <img src="{{PATH_ASSETS}}assets/img/72/png/introdialog/faceted-intro-explore.png" width="210" height="161" alt="" />
                </li>
                <li>
                    <h2>{{LABEL_4}}</h2>
                    <p>{{LABEL_5}}</p>
                    <img src="{{PATH_ASSETS}}assets/img/72/png/introdialog/faceted-intro-taxonomy.png" width="210" height="161" alt="" />
                </li>
                <li class="wgsn-promo-edge">
                    <h2>{{LABEL_6}}</h2>
                    <p>{{LABEL_7}}</p>
                    <img src="{{PATH_ASSETS}}assets/img/72/png/introdialog/faceted-intro-downloads.png" width="210" height="161" alt="" />
                </li>
            </ul>
            <p><a href="http://www.wgsn.com/content/wgsn/Help/videos_new/faceted-search.html" target="_blank">{{LABEL_8}}</a></p>
            <form>
                <input type="checkbox" value="close" id="wgsn-promo-never-show-intro" />
                <label for="wgsn-promo-never-show-intro">{{LABEL_9}}</label>
            </form>
        </section>
    </div>
</div>