<div class="container">
  {{#labels}}
    {{> partial/header}}

  <h1>{{LABEL_3}}</h1>

  <div class="row marketing summaries">
    {{! partial/summaries}}
  </div>

    {{> partial/footer}}
  {{/labels}}
</div>