<div class="container">
  {{#labels}}
    {{> partial/header}}

    {{> partial/jumbotron}}

  <div class="row marketing teasers">
    {{! partial/teasers}}
  </div>

    {{> partial/footer}}
  {{/labels}}
</div>