{{#labels}}
  {{> partial/jumbotron}}
{{/labels}}
<div class="row marketing teasers">
  <div class="col-lg-6">
    {{#each articlesColumnOne}}
      {{> ./partial/teaser}}
    {{/each}}
  </div>
  <div class="col-lg-6">
    {{#each articlesColumnTwo}}
      {{> ./partial/teaser}}
    {{/each}}
  </div>
</div>

