<div class="container">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Module</a></li>
            <li><a href="http://localhost:9010/">Admin</a></li>
            <li><a href="http://localhost:9011/src-test/module-doc/TestRunner.html">Test</a></li>
        </ul>
        <h3 class="text-muted">doc</h3>
    </div>

  <div class="jumbotron">
    <h1>Congratulations!</h1>
    <p class="lead">You have successfully created <em>doc</em> module.</p>
    <p>Suggestions and links to notable areas of Appland are provided below to help you with your development, testing, and deployment.</p>
    <p><a class="btn btn-lg btn-success" target="_blank" href="http://appland.io/" title="Appland documentation" role="button">Documentation</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>App API</h4>
      <p>Learn how to use this object within your projects to leverage useful utilities and helper functions for your projects.
        <a href="http://appland.io/api" target="_blank" title="Appland's App API">Read More</a>
      </p>
    </div>

    <div class="col-lg-6">
      <h4>Demo: Backbone.js WebApp</h4>
      <p>Follow the step-by-step instructions on how to integrate, develop, test, and build your own Backbone WebApp.
        <a href="http://appland.io/demos/backbone/index.html" target="_blank" title="Demo Backbone WebApp">Read More</a>
      </p>
    </div>
  </div>

  <div class="footer">
    <p>© <a href="http://www.craftturf.com" target="_blank">Craft Turf</a> 2011-2014</p>
  </div>

</div>