
/**
 * Appland Branding
 */
body, html {
  height: 100%;
}
body {
  font-size: 13px;
  line-height: 19px;
}
#container .docs.markdown {
  min-height: 100%;
  background-color: rgba(202, 202, 202, 0.3);
  padding-left: 12%;
  padding-right: 12%;
}
#container .docs.markdown h1, h2, h3, h4, h5, h6, a {
  color: #2c4f62;
}
#container .docs h1 {
  font-size: 46px;
  line-height: 46px;
}
#container .docs h1 a.pilcrow {
  top: 45px;
}
#container .docs.markdown h2 {
  font-size: 24px;
  margin: 20px 0;
}
#container .docs.markdown h2 a.pilcrow,
#container .docs.markdown h3 a.pilcrow {
  top: 20px;
}
#container .docs.markdown h3 {
  font-size: 16px;
  margin: 12px 0 12px 0;
}
#container .docs.markdown h4, h5, h6 {
  font-size: 14px;
}
#container .docs.markdown p, #sidebar_switch span, #tree, #headings,
#container .docs.markdown li {
  color: #58575c;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container .docs.markdown a:hover, .docs.markdown a:focus  {
  text-decoration: none;
}
#container .docs.markdown ul {
  margin: 8px 0;
  padding-left: 5px;
}
#container .docs.markdown ul li {
  padding-left: 10px;
  line-height: 1em;
  display: block;
  margin-bottom: 10px;
  background: url('http://static02.craftturf.com/images/arrow_right.gif') 0 .25em no-repeat;
}
/**
 * Sidebar: Top-Level
 */
#sidebar_switch span {
  color: #59595a;
  line-height: 26px;
  transition: color  500ms ease-in;
}
#sidebar_switch, #sidebar_switch span:hover {
  background-color: #fafafa;
}
#sidebar_switch span:hover {
  color: #971b20;
  border-bottom: 3px solid;
  transition: color  750ms linear;
}
#sidebar_switch .selected {
  border-bottom: 3px solid;
}
#container td.docs {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #dededc;
}
/**
 * Sidebar: Tree
 */
#tree {
  line-height: 22px;
}
#tree .dir {
  width: 93%;
}
#tree > .dir > .children > .dir {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}
#tree .file {
  line-height: 26px;
}
#tree .file:hover {
  color: #971b20;
}
/**
 * Sidebar: Headings
 */
#headings {
  line-height: 20px;
}
#headings .heading a:hover {
  color: #971b20;
}
#headings .h1 {
  font-size: 1.15em
}
#headings .h2 {
  font-size: 1em
}
#headings .h4 {
  font-size: 0.95em
}
#headings .h4 {
  font-size: 0.9em
}
#headings .h5 {
  font-size: 0.85em
}

/**
 * Code blocks
 */
#container .docs.markdown pre {
  background-color: #39393A;
}
#container .docs.markdown pre code, #container .docs.markdown pre code .o {
  color: #ffffff;
}
#container .docs.markdown pre code .err {
  color: #888;
  border:0 none;
}
#container .docs.markdown pre code a,
#container .docs.markdown pre code a:visited {
  color: #fff;
}