<div class="jumbotron">
    <h1>Congratulations!</h1>
    <p class="lead">You have successfully created demo-web-app module.</p>
    <p>Suggestions and links to notable areas of Appland are provided below to help you with your development, testing, and deployment.</p>
    <p><a class="btn btn-lg btn-success" target="_blank" href="https://github.com/jabdul/appland/tree/master/src" role="button">Documentation</a></p>
</div>