/**
 *   Responsive system.
 * @see http://getbootstrap.com/css/#grid
 */
#tt-articles-content {
  width: 960px;
  ul.tt-articles-menu {
    float: left;
    width: 300px;
    clear: both;
     li {
       display: inline-block;
       list-style-type: none;
       margin-right: 10px;
     }
  }
  h1 {
    float: right;
    width: 600px;
    clear: both;
    text-align: center;
  }
  .tt-articles-container {
    float: right;
    width: 650px;

    .tt-articles-items {
      margin-bottom: 20px;
      border-bottom: 1px dashed #d3d3d3;
      padding-bottom: 10px;
    }

    .tt-articles-tags {
      padding-left: 0;
      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 2px;
      }
      .tt-articles-tag-more {
        display:none;
      }
      .tt-articles-tag-show.tt-articles-tag-more {
        display: inline-block;
      }
    }
  }
}
@import "mobile/mobile";
@import "tablet/tablet";
@import "desktop/desktop";
@import "large-desktop/large-desktop";