<div>
    <img src="[image-url]" alt="[article-title]" />
    <h4>[article-title]</h4>
    <p>[article-description]</p>
    <ul>
        <li>[tag]</li>
    </ul>
    <a href="#">show more</a>
</div>