<div>
  <h1>{{LABEL_0}} <small>Statistics Overview</small></h1>
  <ol class="breadcrumb">
    <li class="active"><i class="fa fa-dashboard"></i> {{LABEL_1}}</li>
  </ol>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close fade" data-dismiss="alert" aria-hidden="true">×</button>
    {{LABEL_11}}
  </div>
</div>
