{{!
{
  "name" : "Sidebar",
  "description" : "Contains top level page navigation for all pages."
}
}}
<div class="col-sm-3 col-md-2 sidebar apl-sidebar">
  <ul class="nav nav-sidebar">
    <li class="active">
      <a href="#"><i class="fa fa-dashboard"></i> {{LABEL_1}}</a>
    </li>
  </ul>
</div>