// Path to standard resolution images (72 dpi)
$apl-img72: "img/72/";
$apl-png72: "img/72/png/";
$apl-gif72: "img/72/gif/";
$apl-sprite72: "img/72/sprite/";

// Path to high resolution images (144 dpi)
$apl-img144: "img/144/";

// Conversion of pixels to em
$apl-var-px-to-em: 0.063;

// Conversion of pixels to em
$apl-var-px-to-em: 0.063;

// @media
$screen-sm-min: '768px';
$screen-md-min: '992px';
$screen-lg-min: '1200px';
